<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.db.dao.AreaDao">

    <select id="getAreaList" resultType="com.post.db.entities.Area">
        select * from areas
    </select>
</mapper>